/* You can add global styles to this file, and also import other style files */
h3 {
    color: white;
    font-weight: bold;
}
.title {
    text-align: center;
    vertical-align: bottom;
    background-color:lightskyblue;
    height: 40px; color: white;
}
.columnPan {
    height:80vh; 
    border-color: lightslategray; 
    border-style: solid;   
}

h3 {
    background-color:lightskyblue;text-align: center; margin-top: 10px !important
}
